
#container {
    background: #eee;
    margin: 30px auto;
    font-family: "Roboto", Helvetica, sans-serif;
    border-radius: 5px;
    min-width: 260px;
    padding: 15px;
    color: 333;
    text-align: center;
}

figure {
  background: white;
  margin: -5px;
  margin-top: 20px;
  width: 100%;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
}

figure > figcaption {
    margin: 15px;
    padding-bottom: 20px;
}

h2 {
    font-size: 18px;
    padding: 30px;
    text-align: left;
    width: 40%;
    margin: 0 auto;
}

ul, blockquote {
    line-height: 1.5;
    max-width: 550px;
    margin: 0 auto;
    text-align: left;
}

li {
    margin: 20px;
}

blockquote {
    padding-top: 30px;
    padding-bottom: 10px;
    font-style: italic;
}
